a {
  color: #f2f2f2;
  text-decoration: none;
}

.films {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.css-1dmqq99-MuiPaper-root-MuiCard-root {
  margin: .5rem !important;
  height: 300px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
